{% extends base_template %}
{% load i18n static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'news/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home-feed" id="homeFeed">
    {% include "news/_home_feed.html" %}
</div>
<button class="back-to-top" id="backToTop" aria-label="{% trans 'Back to top' %}">&uarr;</button>
{% endblock %}

{% block extra_js %}
{% include "news/_summary_scripts.html" %}
<script src="{% static 'news/js/share.js' %}"></script>
<script src="{% static 'news/js/home-infinite-scroll.js' %}"></script>
<script src="{% static 'news/js/back-to-top.js' %}"></script>
{% endblock %}
