{% extends "news/base.html" %}
{% load i18n static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'news/css/search-bar.css' %}">
<link rel="stylesheet" href="{% static 'news/css/digest.css' %}">
<link rel="stylesheet" href="{% static 'news/css/bias-spectrum.css' %}">
<link rel="stylesheet" href="{% static 'news/css/research-card.css' %}">
<link rel="stylesheet" href="{% static 'news/css/similar-news.css' %}">
{% endblock %}

{% block masthead_date %}
    {% include "news/_date_nav.html" %}
{% endblock %}

{% block content %}
<div id="contentArea">
    {% include "news/_content_area.html" %}
</div>
{% endblock %}

{% block extra_js %}
{% if digest %}
    <script src="{% static 'news/js/research.js' %}"></script>
    <script src="{% static 'news/js/section-nav.js' %}"></script>
    <script src="{% static 'news/js/back-to-top.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/force-graph/dist/force-graph.min.js"></script>
    <script src="{% static 'news/js/similar-news.js' %}"></script>
    <script src="{% static 'news/js/sources.js' %}"></script>
{% endif %}
{% endblock %}
