{% extends "news/base.html" %}
{% load i18n static %}

{% block masthead_date %}
    {% include "news/_date_nav.html" %}
{% endblock %}

{% block content %}
<div id="contentArea">
    {% include "news/_content_area.html" %}
</div>
{% endblock %}

{% block extra_js %}
{% if digest %}
    <script src="{% static 'news/js/research.js' %}"></script>
    <script src="{% static 'news/js/section-nav.js' %}"></script>
    <script src="{% static 'news/js/back-to-top.js' %}"></script>
    <script src="{% static 'news/js/similar-news.js' %}"></script>
    <script src="{% static 'news/js/sources.js' %}"></script>
    <script>
    document.addEventListener('click', function(e) {
        var btn = e.target.closest('.share-btn');
        if (!btn) return;
        var url = window.location.origin + btn.dataset.url;
        var title = btn.dataset.title || document.title;
        if (navigator.share) {
            navigator.share({ title: title, url: url }).catch(function(){});
        } else {
            navigator.clipboard.writeText(url).then(function() {
                var icon = btn.querySelector('i');
                var orig = icon.className;
                icon.className = 'fas fa-check';
                setTimeout(function() { icon.className = orig; }, 2000);
            }).catch(function(){});
        }
    });
    </script>
{% endif %}
{% endblock %}
